<!DOCTYPE html>
<html>

  <head>
    <title>Backend Challenges | Free Code Camp</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>freeCodeCamp Timestamp Microservice</h1>
      <h3>Simple API to convert UNIX timestamp to Natural Language Date, and vice versa.<br>
          Either are accepted as valid inputs.</h3>
        
      <h3>Example usage:<br>
        <span class="example">https://mongosmash1-timestamp-microservice.glitch.me/December%2015,%202015</span><br>
        <span class="example">https://mongosmash1-timestamp-microservice.glitch.me/December 15, 2015</span><br>
<span class="example">https://mongosmash1-timestamp-microservice.glitch.me/450137600</span><br>
<br>
        Example output:<br>
<span class="example">{ "unix": 1450137600, "natural": "December 15, 2015" }</span>
          
        </h3>
      </div>
   </body>

</html>
