<!DOCTYPE html>
<html>

  <head>
    <title>FCC Timestamp Microservice</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">
      <h1>freeCodeCamp Backend API Projects - Timestamp Microservice</h1>
      <h3>Simple API to convert UNIX timestamp to Natural Language Date, and vice versa.<br>
          Either are accepted as valid inputs.</h3>
        
      <h3>Example usage:<br>
        <code class="example">https://ms1-ts-micro.glitch.me/api/timestamp/December%2015,%202015</code><br>
        <code class="example">https://ms1-ts-micro.glitch.me/api/timestamp/December 15, 2015</code><br>
        <code class="example">https://ms1-ts-micro.glitch.me/api/timestamp/1450137600</code><br>
        <br>
        Example output:<br>
<code class="example">{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
          
        </h3>
      </div>
   </body>

</html>
